body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #333;
    margin: 10px 0;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  #score {
    font-weight: bold;
  }
  
  #timer {
    font-style: italic;
  }
  
  #scoreFinal {
    font-weight: bold;
    margin-top: 30px;
  }
  
  .generico{
    font-weight: bold;
    margin-top: 30px;
  }